<!DOCTYPE html>
  <html>
  <head>
  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="<%= crud_path %>">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= reports_path %>">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= branches_path %>">Branches</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class = "container">
      <div class = "row justify-content-end " >
        <div class ="col-1" >
          <form action="/logout" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                </svg>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <input type="submit" value ="Log out" class="dropdown-item" >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class = "container mt-5">
      <div class = "row justify-content-center">
        <div class ="col-10" >
            <div class="input-group justify-content-center">
                <div class="dropdown show">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Company branch
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <form action="/crud" method="get">
                      <input type="submit" value ="No branches" class="dropdown-item" >
                    </form>
                  <% @branches.each do |branch|%>
                    <form action="/crud/<%= branch.id %>" method="get">
                      <input type="submit" name="<%= branch.id %>" id="<%= branch.id %>" value ="<%= branch.name %>" class="dropdown-item" >
                    </form>
                  <% end %>
                </div>
              </div>
              <button type="button" class="btn btn-success ml-3" data-toggle="modal" data-target="#addEmployee">
                Add
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"></path>
                </svg>
              </button>
            </div>
        </div>
      </div>
    </div>

    <p class="text-danger" id="notice"><%= notice %></p>

    <div class="container mt-3">
      <div class ="row justify-content-center">
        <div class="col-12">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">Em#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Priv#</th>
                <th scope="col">status</th>
                <th scope="col">Edit</th>
                <th scope="col">Disable</th>
              </tr>
            </thead>
            <tbody>
              <% @employees.each do |employee|%>
                <tr>
                  <th scope="row"><%= employee.employeeNumber%></th>
                  <td><%= employee.name%></td>
                  <td><%= employee.position%></td>
                  <td><%= employee.email %></td>
                  <td><%= employee.privateNumber%></td>
                  <td class="<%= employee.status ?  "text-success": "text-danger" %>"><%= employee.status ?  "Enabled": "Disabled" %></td>
                  <td>
                    <button type="button" id="<%= employee.id %>" data-toggle="modal" data-target="#editEmployee<%= employee.id %>" class="btn btn-success">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                      </svg>
                    </button>
                  </td>
                  <td>
                    <form method="post" action="/disable_employee">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="hidden" name ="id" value="<%= employee.id %>" id ="id" class="form-control" placeholder="privateNumber">
                      <button type="submit" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                      </svg>  
                    </button>
                    </form>
                  </td>
                </tr>
                <div class="modal" id="editEmployee<%= employee.id %>" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-dark">Edit employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/edit_employee" method="post">
                          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <div class="input-group form-group">
                              <input type="hidden" name ="id" value="<%= employee.id %>" id ="id" class="form-control" placeholder="privateNumber">
                            </div>
                            <div class="input-group form-group">
                              <input type="text" name ="privateNumber" value="<%= employee.privateNumber %>" id ="privateNumber" class="form-control" placeholder="privateNumber">
                            </div>
                            <div class="input-group form-group">
                              <input type="text" name="employeeNumber" value="<%= employee.employeeNumber %>" id="employeeNumber" class="form-control" placeholder="employeeNumber">
                            </div>
                            <div class="input-group form-group">
                              <input type="email" name="email" value="<%= employee.email %>" id="email" class="form-control" placeholder="email">
                            </div>
                            <div class="input-group form-group">
                              <input type="text" name="name" id="name" value="<%= employee.name %>" class="form-control" placeholder="name">
                            </div>
                            <div class="input-group form-group">
                              <input type="text" name="position" id="position" value="<%= employee.position %>" class="form-control" placeholder="position">
                            </div>
                            <div class="input-group form-group">
                              <select class="form-select form-control" name="status" id="status">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                              </select>
                            </div>
                            <div class="input-group form-group">  
                                <select class="form-select form-control" id="branches_id" name="branches_id" aria-label="Default select example">
                                  <% @branches.each do |branch|%>
                                  <option value="<%= branch.id %>"><%= branch.name %></option>
                                <% end %>
                                </select>
                            </div>
                            <div class="form-group">
                              <input type="submit" value="Save" class="btn btn-success float-right">
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

    <div class="modal" id="addEmployee" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark">Add new employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/create_employee" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="input-group form-group">
									<input type="text" name ="privateNumber" id ="privateNumber" class="form-control" placeholder="privateNumber">
								</div>
								<div class="input-group form-group">
									<input type="text" name="employeeNumber" id="employeeNumber" class="form-control" placeholder="employeeNumber">
								</div>
                <div class="input-group form-group">
									<input type="email" name="email" id="email" class="form-control" placeholder="email">
								</div>
                <div class="input-group form-group">
									<input type="text" name="name" id="name" class="form-control" placeholder="name">
								</div>
                <div class="input-group form-group">
									<input type="text" name="position" id="position" class="form-control" placeholder="position">
								</div>
                <div class="input-group form-group">
                  <select class="form-select form-control" name="status" id="status">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
								</div>
                <div class="input-group form-group">  
                    <select class="form-select form-control" id="branches_id" name="branches_id" aria-label="Default select example">
                      <% @branches.each do |branch|%>
                      <option value="<%= branch.id %>"><%= branch.name %></option>
                    <% end %>
                    </select>
								</div>
								<div class="form-group">
									<input type="submit" value="Add" class="btn btn-success float-right">
								</div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
