<!DOCTYPE html>
<html>
  <head>
    <title>RelojChecador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
<<<<<<< HEAD
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
=======
    <%= javascript_pack_tag 'reports' %>
>>>>>>> 3af6f1d (Adding initial desing)
=======
    <%= javascript_pack_tag 'reports' %>
>>>>>>> 2eb8759757c00370de2c639eefe2f521e97494af
  </head>

  <body>
    <%= yield %>
  </body>
</html>
